/*Scrollbar da lista de tarefas */
ul.task-list {
  max-height: 290px; 
  overflow-y: auto;
}
/* Estilo do scroll para Chrome, Edge e Safari */
ul.task-list::-webkit-scrollbar {
  width: 8px;
}
ul.task-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
ul.task-list::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 6px;
  border: 2px solid #f1f1f1;
  transition: background-color 0.2s ease;
}
ul.task-list::-webkit-scrollbar-thumb:hover,
ul.task-list::-webkit-scrollbar-thumb:active {
  background-color: #aaa !important; 
}
/* Scrollbar no Firefox */
ul.task-list {
  scrollbar-width: thin;
  scrollbar-color: #555 #f1f1f1;
}
