<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TaskManager - Badesul</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css">
</head>

<body class="min-h-screen bg-gray-100 flex flex-col items-center justify-center ">

    <div class="flex flex-col w-full max-w-4xl items-start mt-8 mb-8 ">
        <h1> <span class="text-4xl font-bold text-green-800"> BADESUL </span> 
            <span class="italic font-semibold text-3xl text-gray-800">TaskManager</span></h1>
        <h3 class="font-semibold text-xl text-gray-900"> SISTEMA DE GERENCIAMENTO DE TAREFAS </h3>
    </div>
    

    <div id="app" class="w-full flex-1 max-w-4xl mb-2 items-start bg-white p-6 rounded-xl shadow-lg">

        <h2 class="text-xl font-bold text-center mb-4 -mt-2 text-gray-800">
            Minhas Tarefas
        </h2>

        <div v-if="loading" class="text-center text-gray-500">
            Buscando dados...
        </div>

        <div v-else>

            <!-- Formulário para nova tarefa -->
            <div class="flex flex-col gap-2 mb-4">
                <div class="flex gap-5">
                    <input 
                        v-model="newTodo.nome"
                        class="flex-1 border rounded px-3 py-2 focus:outline-none focus:ring-0 font-semibold text-black/90"
                        placeholder="Nova tarefa"
                    >
                    <select v-model.number="newTodo.prioridade" 
                        class="w-40 border rounded px-3 py-2 text-sm"
                    >
                        <option disabled value="">Prioridade</option>
                        <option :value="0">Baixa</option>
                        <option :value="1">Média</option>
                        <option :value="2">Alta</option>
                    </select>
                    <button 
                        @click="addTodo"
                        :disabled="!newTodo.nome || isSubmitting"
                        class="bg-green-800 text-white px-4 py-2 rounded hover:bg-green-900 transition disabled:opacity-50 disabled:cursor-not-allowed"
                    >
                        {{ isSubmitting ? 'Salvando...' : 'Adicionar' }}
                    </button>
                </div>
                
                <input 
                    v-model="newTodo.descricao"
                    class="flex-1 border rounded px-3 py-2 focus:outline-none focus:ring-0 text-black/80 text-sm"
                    placeholder="Descrição"
                >                
                
            </div>      
            
            <!-- A Listagem das tarefas -->
            <ul class="space-y-2 max-h-[290px] overflow-y-auto task-list">
                <li 
                    v-for="todo in todos" 
                    :key="todo.id"
                    class="flex justify-between items-center bg-gray-50 p-3 rounded"
                >
                    <div class="flex items-center gap-2">
                        <input type="checkbox" v-model="todo.realizado" @change="toggleRealizado(todo)"
                            class="w-5 h-5 accent-green-800">
                        <div :class="todo.realizado ? 'line-through text-gray-400' : 'text-black/90'">
                            <span :class="todo.realizado ? 'text-gray-400' : 'text-black/90'" class="font-semibold">
                                {{ todo.nome }}
                            </span> : 
                            <span :class="todo.realizado ? 'text-gray-400' : 'text-black/80'" class="text-sm">
                                {{ todo.descricao }}
                            </span> -
                            <span :class="todo.realizado ? 'text-gray-400' : 'text-gray-500'" class="text-sm">
                                (Prioridade: {{ prioridadeMap[todo.prioridade] }})
                            </span>
                        </div>
                    </div>

                </li>
            </ul>

        </div>

    </div>

    <script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                todos: [],
                newTodo: { nome: "", descricao: "", prioridade: "", realizado: false },
                loading: true,
                isSubmitting: false,
                prioridadeMap: ["Baixa", "Média", "Alta"]
            }
        },        
        mounted() {
            this.fetchTodos()
        },
        methods: {
            async addTodo() {
                if (!this.newTodo.nome || this.isSubmitting) return

                this.isSubmitting = true

                try {
                    await fetch('/todos', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ ...this.newTodo, realizado: false })
                    });

                    //recupera a resposta da inclusao de nova tarefa no backend
                    const response = await fetch('/todos');

                    //atualiza a lista de tarefas com a nova tarefa adicionada
                    this.todos = await response.json();

                    //limpa os inputs do formulário
                    this.newTodo = { nome: "", descricao: "", prioridade: "", realizado: false }

                } catch (error) {
                    console.error("Erro ao salvar:", error)
                } finally {
                    this.isSubmitting = false
                }
            },
            async fetchTodos() {
                try {
                    const response = await fetch('/todos')
                    this.todos = await response.json()
                } catch (error) {
                    console.error("Erro ao conectar com a API:", error)
                } finally {
                    this.loading = false
                }
            },
            async toggleRealizado(todo) {
                try {
                    const response = await fetch('/todos', {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(todo)
                    })
                    this.todos = await response.json()
                } catch (error) {
                    console.error("Erro ao atualizar:", error)
                }
            }            
        }
    }).mount('#app')
    </script>

</body>
<footer class="w-full border-t border-gray-200 text-start text-xs text-gray-400 px-2 py-2 ">
    <div class="pl-2">© 2026 Badesul - Sistema Interno</div>
</footer>

</html>